.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: darkslateblue;
  display: flex;
  justify-content: center;
  align-content: center;
}

.App main {
  width: 550px;
  height: 600px;
  padding: 40px;
  flex: 0 0 auto;
  background-color: dodgerblue;
  font-family: 'Courier New', Courier, monospace;
  color: aliceblue;
  font-weight: 500;
  font-size: 16px;
}
